<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>匯率換算</title>
</head>
<body>
	<div id="app">
		<select v-model="fromSelected">
			<option v-for="e in exchangeRate">{{e.name}}</option>
		</select>
		<input type="text" v-model='fromAmount'></input>
		<button v-on:click="change"><-></button>
		<select v-model="toSelected">
			<option v-for="e in exchangeRate">{{e.name}}</option>
		</select>
		{{ output }}
		<!-- <input type="text" v-model='to.amount'></input> -->
	</div>

<script src="https://unpkg.com/vue"></script>
<script>
	const se = document.querySelector('#se');
	var app = new Vue({
		el: '#app',
		data:{
			fromAmount: 0,
			fromSelected: '台幣',
			toSelected: '日幣',
			exchangeRate:[
				{
					name: '台幣',
					currency: 1
				},
				{
					name: '日幣',
					currency: 0.2783
				},
				{
					name: '美金',
					currency: 30.232
				},
				{
					name: '韓元',
					currency: 0.02876
				},
				{
					name: '歐元',
					currency: 21.89	
				},
				{
					name: '人民幣',
					currency: 4.683
				}
			]
		},
		computed:{
			output: function(){
				return this.fromAmount*this.fromCurrency/this.toCurrency
			},
			fromCurrency: function(){
				let country = this.fromSelected;
				let currency;
				this.exchangeRate.forEach(e=>{
					if(e.name == country){
						currency = e.currency;
					}
				})
				return currency;
			},
			toCurrency: function(){
				let country = this.toSelected;
				let currency;
				this.exchangeRate.forEach(e=>{
					if(e.name == country){
						currency = e.currency;
					}
				})
				return currency;
			}
		},
		methods:{
			// changeFromSelected: function(){
			// 	this.exchangeRate.forEach(e=>{
			// 		if(e.name == this.from.selected){
			// 			this.from.currency = e.currency;
			// 		}
			// 	})
			// },
			// changeToSelected: function(){
			// 	this.exchangeRate.forEach(e=>{
			// 		if(e.name == this.to.selected){
			// 			this.to.currency = e.currency;
			// 		}
			// 	})
			// },
			change: function(){
				let tmp = this.from.selected;
				this.from.selected = this.to.selected;
				this.to.selected = tmp;
				this.changeFromSelected();
				this.changeToSelected();

			}
		}
	});
</script>
</body>
</html>